.gb-text {
  &-weight {
    &--normal {
      font-weight: var(--font-weight-normal);
    }

    &--bold {
      font-weight: var(--font-weight-bold);
    }
  }

  &-color {
    &--gray {
      color: var(--color-gray-main);
    }

    &--black {
      color: var(--color-black);
    }
  }
}
